node_modules/
dist/
coverage/
data/

.env
.env.*
!.env.example
.server.*

.webpack/
.serverless/**/*.zip

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
